html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}

#container {
  text-align: center;
  min-height: 100%;
  position: relative;
}

.App-header {
  height: 50px;
  padding: 20px;
  color: grey;
  border-bottom: 2px solid grey;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
  font-weight: 100;
}

.bold {
  font-weight: bold;
}

#body {
   padding:10px;
   padding-bottom:60px;
}

a {
  color: grey;
  text-decoration: none;
  margin-left: 20px;
}
a:hover {
  font-weight: bold;
}

.picture {
  width: 300px;
  height: 300px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  background-position: center center;
  background-size: 200%;
  position:relative;
}

button {
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: 10px;
  position: absolute;
  display: none;
  background-color: Transparent;
  font-size: 35px;
  border: none;
}

.picture:hover button{
  display: inline;
}

input {
  width: 65%;
  height: 30px;
  border-style: none none solid none;
  border-color: grey;
  font-size: 25px;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
}

.noresults {
  font-size: 30px;
}

.picturediv, .favdiv {
  margin: 0px auto;
}

.footer {
background-color: lightgrey;
height: 30px;
line-height: 30px;
vertical-align: middle;
position: absolute;
bottom: 0;
font-size: 15px;
width: 100%;
text-align: left;
padding-left: 20px;
}

.rightside {
float:right;
padding-right: 40px;
}
