.App {
  text-align: center;
}

.App-header {
  background-color: yellow;
  height: 50px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.picture {
  width: 120px;
  height: 120px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  background-position: center center;
  position:relative;
}

button {
  right: 20px;
  bottom: 10px;
  position: absolute;
  background-color: white;
}
