#container {
  text-align: center;
  position: relative;
}

/*HEADER*/
#header {
  height: 50px;
  padding: 20px;
  color: grey;
  border-bottom: 2px solid grey;
  text-align: left;
}

.App-title {
  font-size: 1.5em;
  font-weight: 100;
}

.bold {
  font-weight: bold;
}

a {
  color: grey;
  text-decoration: none;
  margin-left: 20px;
}
a:hover {
  font-weight: bold;
}
/*BODY*/
#body {
   padding:10px;
}

.picturediv, .favdiv {
  margin: 0px auto 40px auto;
}

.favdiv {
  min-height: 79vh;
}

input {
  width: 65%;
  height: 30px;
  border-style: none none solid none;
  border-color: grey;
  font-size: 25px;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
}

.picture {
  width: 300px;
  height: 300px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  background-position: center center;
  background-size: 200%;
  position:relative;
}

button {
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: 10px;
  position: absolute;
  display: none;
  background-color: Transparent;
  font-size: 35px;
  border: none;
}

.picture:hover button{
  display: inline;
}

/*BODY but no results*/
.noresults {
  font-size: 30px;
}

.noresultdiv {
  min-height: 83vh;
}

.nofavdiv {
  min-height: 79vh;
}

/*FOOTER*/

#footer {
background-color: lightgrey;
height: 6vh;
line-height: 6vh;
vertical-align: middle;
position: fixed;
bottom: 0;
font-size: 15px;
width: 100%;
text-align: left;
padding-left: 20px;
}

.rightside {
float:right;
padding-right: 40px;
}

/*for phone screen*/
@media screen and (max-width: 440px){
  #header {
    height: 30px;
  }
  .App-title, input, .noresults {
    font-size: 1em;
  }
}

@media screen and (max-width: 320px) {
  .App-title, input {
    font-size: 0.9em;
  }
  .picture {
    width: 250px;
    height: 250px;
  }
}
